---
root: true
env:
  browser: true
  node: true
  es6: true
  mocha: true
ecmaFeatures:
  arrowFunctions: true,
  binaryLiterals: false,
  blockBindings: true,
  classes: true,
  defaultParams: true,
  destructuring: true,
  forOf: true,
  generators: true,
  modules: true,
  objectLiteralComputedProperties: true,
  objectLiteralDuplicateProperties: false,
  objectLiteralShorthandMethods: true,
  objectLiteralShorthandProperties: true,
  octalLiterals: true,
  regexUFlag: true,
  regexYFlag: true,
  restParams: true,
  spread: true,
  superInFunctions: true,
  unicodeCodePointEscapes: true,
  globalReturn: false,
  templateStrings: true,
  jsx: true,
  experimentalObjectRestSpread: false,
globals:
  define: true
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    jsx": true
extends:
  "eslint:recommended"

rules:
  camelcase: [2, { properties: "never" }]
  quotes: [2, "single"]
  no-console: 0
