build/
node_modules/
.DS_Store
Thumbs.db
.idea
*.sublime*
*.log
npm-debug.log*
*.log
dist
src/**/*.js
src/**/*.js.map
src/source/cards.json
src/source/transactions.json
public/main.js
public/vendor.js
public/styles.css
db
