<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Koa Server Render</title>
</head>
<body>
<div id="root">
  <%- html %>
</div>
</body>
<script type="text/javascript" src="bundle.js"></script></body>
</html>
